* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* body {
    font-family: "Roboto", sans-serif;
    background-color: cornflowerblue;
  } */
  
  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  section {
    margin: 2rem 0 1rem 0;
  }
  
  .controls {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    /* width: 100%; */
    padding: 0.5rem 1rem;
    background-color: #5487d8;
    color: #f3f3f3;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 0.5rem;
  }
  
  button:hover {
    background-color: #139ed1;
    cursor: pointer;
  }
  
  main {
    margin: 0em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 25em; */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .nutrients ul {
    display: flex;
    width: 35rem;
    justify-content: space-evenly;
  }

  .meals {
    margin: 0em auto;
    display: flex;
    max-width: calc(900px + 6rem);
    /* align-items: center; */
    flex-wrap: wrap;
    /* justify-content: center; */
  }

  .favMeals {
    margin: 0em auto;
    display: flex;
    max-width: calc(900px + 6rem);
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
  }

  .ingredients{
    margin: auto;
    width: 80%;
    padding: 10px;
  }
  .ingredients li{
    color: darkblue;
    text-align: left;
  }

  .one-recipe{
    max-width: 80%;
    height: auto;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 1rem;
    max-width: 300px;
    box-shadow: 0 4px 20px 20px rgba(116, 18, 18, 0.15);
    /* background-color: rgb(225, 224, 224); */
  }
  
  ul {
    list-style: none;
    /* align-items: center;
    justify-content: space-evenly; */
  }
  
  .instructions {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  a {
    text-decoration: none;
    /* background-color: #7f21eb; */
    width: fit-content;
    font-size: 1em;
    color: darkorange;
    padding: 0.5rem 1rem;
  }

  .recipe_link {
    color: black;
  }

  .plan_form {
    font-size: 18px;
    font-weight: bold;
    color:  rgb(127, 178, 255);
  }

  .plan {
    font-weight: bold;
    margin-top: 5em;
  }

  .pick_plan_name {
    color: black;
    font-weight: bold;
    background-color: greenyellow;
    /* background-color: rgb(235, 173, 149); */
  }

  .myplan {
    border: 5px solid darkred;
    border-style: dotted;
    /* max-width: 30em; */
    margin: auto;
    width: 80%;
    padding: 10px;
    font-weight: bold;
    margin-top: 2em;
  }

  .plan_link {
    color: blue;
  }

  .recipe-detail{
    font-weight: bold;
  }
  
  /* a:hover {
    background-color: #6c13d1;
    cursor: pointer;
  } */
  
  @media only screen and (max-width: 1024px) {
    .meals {
      flex-direction: column;
      align-items: center;
    }
  
    .nutrients ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }