/* @media only screen and (max-width: 1024px) {
    .favRecipe {
      flex-direction: column;
      align-items: center;
    }
  } */

/* .favRecipe {
    display: flex;
    border: 1rem;
  }

.favRecipe img {
    width: 100%;
    margin-bottom: 1rem;
  }

.favRecipe article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 1rem;
    max-width: 300px;
    box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
} */