.App {
  text-align: center;
  /* background-color: rgb(247, 245, 241); */
  background-image: url("./images/background01.jpeg");
}

.App-header {
  /* background-image: url("./components/background01.jpeg"); */
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  /* background-repeat: repeat; */
  /* background-size: cover; */
  /* background-color: cyan; */
}

.head_nav_bar {
  background-color: sandybrown;
  background-image: url("./images/header01.jpeg");
  background-size: auto;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: black;
  vertical-align: middle;
  /* padding: 5px; */
  padding-top: 5px;
  padding-left: 1em;
  /* word-spacing: 10px; */
}

.mainpic{
  margin-top: 5em;
  padding-right: 3em;
}

.fb-login{
  display: flex;
  flex-direction: row;
  align-items: center; /* align vertical */
  margin-left: auto;
}

.fb-name{
  font-size: 0.8em;
  color: rgb(127, 178, 255);
}

.logout_btn{
  height: 2.3em;
  /* padding-bottom: 2em; */
  margin-top: -0.5em;
}

.fb_share {
  margin-bottom: 2em;
}

/* footer{
  margin: 1em;
} */

.head_nav_bar .container{
  margin-left: auto;
}

.site_name{
  color:brown;
  font-size: 2em;
  padding-top: 2px;
  /* margin: 10px; */
  /* font-style: italic; */
}


