.App {
  text-align: center;
  /* background-color: rgb(247, 245, 241); */
}

.App-header {
  background-image: url("./components/background01.jpeg");
  min-height: 100vh;
  min-width: 190vh;
  /* background-color: cyan; */
}

.site_name{
  color:brown;
  font-size: 2em;
  margin: 1em;
}

.header {
  background-color: sandybrown;
  background-image: url("./components/header01.jpeg");
  background-size: auto;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: black;
  /* word-spacing: 10px; */
}

.fb-login{
  display: flex;
  flex-direction: row;
  align-items: center; /* align vertical */
}

.fb-name{
  font-size: 0.8em;
  color: aquamarine;
}

.logout_btn{
  height: 2.3em;
}

.App-link {
  color: #61dafb;
}


